:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    /* display: flex; */
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: #646cff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.card {
    padding: 2em;
}

#app {
    margin: 0 auto;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    }
}

/*自定义的中间容器样式，要求居中、两边存在一定的边距*/
.custom-main-container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 1.8rem 0 0 0;
}

::-webkit-scrollbar {
    width: 4px; /* 设置滚动条宽度 */
    height: 4px; /* 设置滚动条高度（对于垂直滚动条） */
    background-color: transparent; /* 设置滚动条背景色 */
}

/* 滚动条滑块样式 */
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3); /* 设置滑块颜色 */
    border-radius: 4px; /* 设置滑块圆角 */
    display: none; /* 默认隐藏滑块 */
}
